{% extends "main/base.html" %}

{% block container %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Expense Form</li>
  </ol>
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group md-2">
          <div class="form-row">
            <div class="col-md-8">
              <label for="expCategorySelect">Category</label>
              <select class="form-control" id="expCategorySelect">
                <option>Choose..</option>
                <option>Food</option>
                <option>Not Food</option>
                <option>Entertaining</option>
                <option>Etc</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputAmount" >Amount</label>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <div class="input-group-text">₴</div>
                </div>
                <input class="form-control" id="inputAmount" type="number" min="0" aria-describedby="nameHelp" placeholder="Enter amount">
              </div>
            </div>
          </div>
        </div>

        <input class="btn btn-danger btn-block" type="submit" value="Submit">
      </form>

    </div>
  </div>
{% endblock %}