{% extends "main/base.html" %}

{% block container %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Expense Form</li>
  </ol>
  
  <div class="row">
    <div class="col-12">
      <!-- {# Card new #} -->
      <div class="card bg-light border border-success mb-3">
        <div class="card-header">Add new Expense:</div>
        <div class="card-body ">
          {% if error_message %}
          <div class="alert alert-danger" role="alert">
            {{ error_message }}
          </div>
          {% endif %}
          <form action="{% url 'main:submitExp' %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-1">
              <div class="form-row align-items-end">
                <div class="col-md-7">
                  <label for="expCategorySelect">Category</label>
                  <select class="form-control" id="expCategorySelect" name="category" required>
                    <option disabled selected style="display:none">Select Category</option>
                    {% for category in cat_list %}
                      <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="inputAmount" >Amount</label>
                  <div class="input-group ">
                    <input class="form-control input-amount" id="inputAmount"
                      name="amount" type="number" min="1" required placeholder="Enter amount">
                    <div class="input-group-append">
                        <div class="input-group-text">₴</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <input class="btn btn-dark btn-block" type="submit" value="Submit">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- {# Card latest #} -->
      <div class="card bg-light mb-3">
        <div class="card-header">Latest Expenses:</div>
        <div class="card-body">
          {% if error_editing_message %}
          <div class="alert alert-danger" role="alert">
            {{ error_editing_message }}
          </div>
          {% endif %}
          {% if latest_exp_list %}
            {% for expense in latest_exp_list %}
              <!-- {# Form cycle #} -->
              <form action="{% url 'main:editExpense' expense.id %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                  <div class="form-row align-items-end">
                    <div class="col-md-7">
                      <select class="form-control form-control-sm" id="edit-cat-{{ expense.id }}" name="category" required disabled>
                        {% for category in cat_list %}
                          <option {% if category.id == expense.category.id %}selected{% endif %}
                            value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group input-group-sm">
                        <input class="form-control input-amount" id="edit-amount-{{ expense.id }}" name="amount" disabled type="number"
                          min="0" value="{{ expense.amount }}" required placeholder="Enter amount">
                        <div class="input-group-append">
                          <div class="input-group-text">₴</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="btn-group btn-group-sm d-flex" role="group" aria-label="Edit Group">
                        <button class="btn btn-dark w-75" type="button" id="btn-enable-form-{{ expense.id }}" onclick="makeEditable('{{ expense.id }}')">Edit</button>
                        <button class="btn btn-danger w-25" type="button" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            {% endfor %}
            <a class="btn btn-secondary btn-block" href="{% url 'main:allOperations' %}" role"button">More..</a>
          {% else %}
            There is no latest expenses yet. You can add one using form above.
          {% endif %}
        </div>
      </div>

    </div>
  </div>
  <!-- Delete Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Delete" below if you really want to delete selected item.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" name="delete-info" type="submit" >Delete</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}