{% extends "main/base.html" %}
{% load i18n %}
{% block custom-head-links %}
{% load static %}
<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css'%}" rel="stylesheet">
{% endblock %}

{% block container %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
    <li class="breadcrumb-item active">{% trans 'Dashboard' %}</li>
    </ol>
    <!-- Area Chart-->
    {% include 'main/stats/line-chart.html' %}
    <div class="row">
        <!-- Bar Chart Card-->
        <div class="col-lg-8">
            {% include 'main/stats/bar-chart.html' %}
        </div>
        <!-- Pie Chart Card-->
        <div class="col-lg-4">
            {% include 'main/stats/pie-chart.html' %}
        </div>
    </div>
    <!-- DataTables Card-->
    {% include 'main/stats/table-all.html' %}
{% endblock %}

{% block custom-scripts %}
<!-- Page level plugin JavaScript-->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<!-- Custom scripts for this page-->
<script src="{% static 'js/sb-admin-datatables.js' %}"></script>
<script src="{% static 'js/sb-admin-charts.js' %}"></script>
{% endblock %}
